{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1 style="padding-left: 150px; padding-right: 150px;">Login</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_username"></label>
            <input type="text" name="{{ form.username.name }}" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="id_password"></label>
            <input type="password" name="{{ form.password.name }}" placeholder="Password">
        </div>

        <input style="margin: 60px;" class="button" type="submit" value="Login" style="color: #e8e8e8;">

    </form>
    <p style="color: #92a1b4; margin-top: 230px;">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>






{% endblock content %}