{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a style="padding-left: 130px; padding-right: 130px; padding-top: 5px; padding-bottom: 20px;" href="{% url 'tasks' %}">&#8592; Back</a>
</div>


<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title"></label>
            <input type="text" name="{{ form.title.name }}" placeholder="Title">
        </div>
        
        <div class="form-group">
            <label for="id_description"></label>
            <p style="color: #757575; padding-left: 15px;">Description</p>
            <input style="width: 400px; height: 200px; margin-bottom: 30px;"  type="text" name="{{ form.description.name }}" placeholder="">
        </div>

        <div class="form-group">
            <label class="containers" for="id_complete">
            <input type="checkbox" name="{{ form.complete.name }}" id="id_complete">
            <div class="checkmark"></div>
            </label>
        </div>
        <input style="align-items: center;" class="button" type="submit" value="Submit">
    </form>
</div>


{% endblock content %}